<div class="row">
  <div class="col-md-4">
    <div id="nameText">
      <div><p id="name">WARD DOURJI</p></div>
      <span id="line"></span>
      <span id="line2"></span>
      <div>
        <p id="occupationText">
          <b>Web Desginer /<br />Front-End Develolper</b>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div id="mainScene">
      <div data-depth="0.2" style="z-index: 1">
        <img id="moon-highlight" src="../../assets/highlight.svg" alt="" />
      </div>
      <div data-depth="0.2" style="z-index: 1">
        <img id="moon" src="../../assets/moon.svg" alt="" />
      </div>
      <div data-depth="0.4" style="z-index: 0">
        <img id="cloud1" src="../../assets/cloud1.svg" />
        <img id="cloud2" src="../../assets/cloud2.svg" />
      </div>
      <div data-depth="0.4" style="z-index: 3">
        <img id="cloud3" src="../../assets/cloud3.svg" />
        <img id="cloud4" src="../../assets/cloud4.svg" />
        <img id="cloud5" src="../../assets/cloud5.svg" />
      </div>
      <div style="z-index: 1">
        <p id="PortfolioText">PORTFOLIO</p>
      </div>
    </div>
  </div>
</div>
